// @font-face {
//   font-family: Montserrat;
//   src: url("../fonts/Montserrat-Regular.ttf");
//   font-weight: 100;
//   font-style: normal;
// }
@font-face {
  font-family: Dosis;
  src: url("Dosis-Regular.ttf");
  font-weight: 300;
  font-style: normal;
}
